.wrapper

  = render 'shared/sidebar'

  .chat

    .chat-header
      .chat-header__left-box
        .chat-header__current-group
          test-group
        %ul.chat-header__member-list
          Member：
          %li.chat-header__member
            test-user
      .chat-header__edit-btn
        = link_to "Edit", "#", class: "edit-link"

    .messages
      .message
        .message__upper-info
          .message__user-name
            test-user
          .message__date
            2019/8/6(Tue) 21:03:59
        .messsage__body
          working on this page!!

    .form
      %form.form__box
        .form__input-box
          %input.form__message{type: "text", placeholder: "type a message"}
          %label.form__icon
            = fa_icon "image"
        %input.form__button{type: "submit", value: "Send"}